<!--
  Generated template for the WalletBackupQrcodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>
      <span ion-text color="black">Export via QR code</span>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" color="black">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content fullscreen background>
  <ion-list transparent-items>
    <ion-grid>

      <ion-row justify-content-between align-items-center>
        <ion-col col-12>
          <div text-center>
            <h4> <strong>{{ walletName }}</strong> </h4>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>

          <ngx-kjua text-center fill="#003642" [ecLevel]="'H'" [crisp]="true" [size]="350" [mPosX]="50" [mPosY]="50"
            [mSize]="10" [fontcolor]="'#005E62'" [mode]="'label'" [render]="'label'" [label]="'ProximaX'"
            [back]="'#fff'"
            [text]="QRData">
          </ngx-kjua>

          <section *ngIf="!privateKey" text-center>
            <ion-spinner name="dots"></ion-spinner>
          </section>

          <ion-card (click)="copy()">
            <ion-item>
              <ion-icon item-left name="ios-key-outline"></ion-icon>
              <p text-wrap *ngIf="privateKey">{{ privateKey }}</p>

              <section text-center>
                <ion-spinner *ngIf="!privateKey"></ion-spinner>
              </section>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row justify-content-between align-items-center>
        <ion-col col-12>
          <div padding>
            <h4 color="grey">Backup your wallet</h4>
            <ol>
              <li>
                Take a screenshot of your QR code and private key.
              </li>
              <br>
              <li>
                Make sure you store it in a safe place.
              </li>
            </ol>
            <h4 color="grey">Restoring your wallet via QR code</h4>
            <ol>
              <li>You can use the QR code later to restore  your wallet.</li>
              <br>
              <li>The QR code contains your encrypted private key. Make sure you remember your account's password to fully recover your wallet. </li>
            </ol>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>