[background] {
  background: linear-gradient(
      transparentize(color($colors, secondary), 0.3), color($colors, dark)
    ),
    url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
      no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;

  ion-item[transparent] {
    color: color($colors, light);
    background: transparent;

    .item-inner {
      border-bottom: 1px solid color($colors, light);
    }
    ion-label {
      color: color($colors, light);
    }
  }

  ion-grid:not([normal]) {
    &,
    ion-row {
      height: 100%;
      width: 100%;
    }
  }

  ion-row {
    align-items: center;
  }
}
