[logo] {
  width: 60%;
}

[logo-small] {
  width: 10%;
}

[buttons] {
  padding: 0 4rem;
}

[login] {
  color: color($colors, dark);
}

.back-button {
  color: color($colors, dark);
}



// title
.toolbar-ios {
  min-height: .5em;
  font-size: 1.8rem;
}

// navbar right button icon size
.bar-button-ios[icon-only] {
  padding: 0;
  min-width: 1.6em;
}

// button fontsize
.bar-button-ios {
  font-size: 2.0rem;
}