<!-- Generated template for the OtpCodeComponent component -->
<ion-grid no-padding>
  <ion-row upper>
    <ion-col col-12>
      <section text-center padding>
        <h2>{{ title }} </h2>
        <p>{{ subtitle }}</p>
      </section>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button outline color="dark">
              <span ion-text color="light">{{ pin[0] }}</span>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button outline color="dark">
              <span ion-text color="light">{{ pin[1] }}</span>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button outline color="dark">
              <span ion-text color="light">{{ pin[2] }}</span>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button outline color="dark">
              <span ion-text color="light">{{ pin[3] }}</span>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button outline color="dark">
              <span ion-text color="light">{{ pin[4] }}</span>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button outline color="dark">
              <span ion-text color="light">{{ pin[5] }}</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row lower>
    <ion-col col-12>
      <ion-grid text-center>
        <ion-row>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="handleInput('1')">1</button>
          </ion-col>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="handleInput('2')">2</button>
          </ion-col>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="handleInput('3')">3</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="handleInput('4')">4</button>
          </ion-col>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="handleInput('5')">5</button>
          </ion-col>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="handleInput('6')">6</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="handleInput('7')">7</button>
          </ion-col>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="handleInput('8')">8</button>
          </ion-col>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="handleInput('9')">9</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> </ion-col>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="handleInput('0')">0</button>
          </ion-col>
          <ion-col>
            <button ion-button clear small clear color="light" (click)="erase()">
              <ion-icon name="backspace"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
