<!--
  Generated template for the WalletListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>
      <span ion-text color="light">Wallets</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content background>
  <ion-grid empty *ngIf="wallets && !wallets.length">
    <ion-row>
      <ion-col>
        <img half-width [src]="App.STICKERS.SORRY">

        <p text-wrap text-center ion-text color="light">
          It looks like you don't have any wallets yet.
          <br> Try adding one or two.
        </p>

        <button gradient-button color-1 (click)="showAddWalletPrompt()">
          Create New Wallet
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-list transparent-items radio-group [(ngModel)]="selectedWallet" *ngIf="selectedWallet && wallets">
    <ion-card margin-bottom *ngIf="showWalletsHint">
      <ion-card-header text-center>
        <img quarter-width [src]="App.STICKERS.THUMBS_UP">
      </ion-card-header>
      <ion-card-content>
        <p text-wrap text-justify ion-text color="light">
          A NEM wallet is like a wallet with cash. If you wouldn't keep a thousand dollars in your pocket, you might want to have the
          same consideration for your NEM wallet. In general, it is a good practice to keep only small amounts of XEMS on
          your computer, mobile, or server for everyday uses and to keep the remaining part of your funds in a safer environment.
        </p>

        <section text-center>
          <button gradient-button small no-margin color-1 (click)="hideWalletsHint()">
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </section>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let wallet of wallets; trackBy: trackByName" [attr.selected]="selectedWallet.name === wallet.name ? true : null" (click)="onWalletSelect(wallet)"
      (press)="onWalletPress(wallet)">
      <ion-item>
        <ion-icon item-left ion-text color="light" name="card"></ion-icon>
        <h2 ion-text color="light">{{ wallet.name }}</h2>

        <!-- TODO: Create an async pipe to get the account type either Normal or Multisign -->
        <p ion-text color="light" *ngIf="(wallet.address.plain() | getWalletType | async) as walletType; else loading">
            {{ walletType }}
        </p>
        <ng-template #loading>
          <p fake> &nbsp; </p>
        </ng-template>

        <!-- TODO: Create an async pipe to get the balance base on the base currency: USD, PHP, BTC etc -->
        <!-- <p item-right ion-text color="light">{{ wallet.address | remainingBalance }}</p> -->
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer no-border *ngIf="wallets && wallets.length">
  <ion-toolbar transparent text-center>
    <button gradient-button circle color-1 (click)="showAddWalletPrompt()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
