<!--
  Generated template for the PrivateKeyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the SettingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>
      <span ion-text color="light">
        Private Key
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen background>
  <ion-grid>
    <ion-row>
      <ion-col col-12></ion-col>

      <ion-col col-12 text-center>
        <ngx-kjua text-center *ngIf="currentWallet" fill="#fff" [label]="'Your wallet'" [mSize]="100" [back]="'transparent'" [text]="QRData">
        </ngx-kjua>

        <section text-center *ngIf="!currentWallet">
          <ion-spinner></ion-spinner>
        </section>

        <ion-list transparent-items>
          <ion-card>
            <ion-item>
              <ion-icon item-left name="key"></ion-icon>
              <p text-wrap *ngIf="privateKey">{{ privateKey }}</p>
              <ion-spinner *ngIf="!privateKey"></ion-spinner>
            </ion-item>
          </ion-card>

          <ion-grid normal no-spacing>
            <ion-row justify-content-center>
              <ion-col col-3></ion-col>
              <ion-col col-3 text-center>
                <button gradient-button small color-1 type="button" color="light" (click)="copy()">
                  <ion-icon name="copy"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-3 text-center>
                <button gradient-button small color-1 type="button" color="light" (click)="share()">
                  <ion-icon name="share"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-3></ion-col>
            </ion-row>
          </ion-grid>

        </ion-list>
      </ion-col>

      <ion-col col-12></ion-col>
      <ion-col col-12></ion-col>
      <ion-col col-12></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
