page-send {
  ion-input {
    color: color($colors, dark);
  }

  [amount] {
    ion-label {
      margin: 8px 0;
    }

    input {
      display: block;
      width: 100%;
      font-size: 2.2rem;
      font-family: $font-family-base;

      background: transparent;
      border: 0;
      color: transparent;
      text-shadow: 0 0 0 color($colors, dark);
      text-align: center !important;

      &:focus,
      &:active {
        outline: 0px;
      }
    }
  }

  ion-card[amount] {
    -webkit-box-shadow: none !important;
    box-shadow:  none !important;
    background: none !important;
  }

  // ion-icon:not([item-left]) {
  //   color: color($colors, dark) !important;
  // }


  ion-item h2 {

    font-size: 1.6rem !important;
  }


  .list .item-inner {
    border-bottom: none !important;
  }
  .item-block .item-inner {
    border-bottom: none !important;
  }
}
