page-transaction-list {
    

   h2{
    margin-top: 1rem;
    font-size: 2rem;
   }

   .list > .item-block:first-child {
      border-top: none !important;
   }

  .list > .item-block:last-child {
      border-bottom: none !important;
   }

   .scroll-content {
      margin-top: 29rem !important;
   }
}
