<!--
  Generated template for the TransactionListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>
      <span ion-text color="black">{{walletName }}</span>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" color="black">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <section wallets>


    <ion-card>
        <!-- <ion-card-header>
            Wallet name: {{walletName }}
        </ion-card-header> -->
        <ion-card-content>
            <ion-list>
                <ion-item *ngIf="currentWallet" (click)="copy(currentWallet.address.value)">
                    <ion-icon name='ios-cash-outline' item-start></ion-icon>
                    Balance:
                    <span>${{ (totalBalance? totalBalance:0) | number : '1.2-2'}} USD</span>
                </ion-item>

                <ion-item *ngIf="currentWallet" (click)="copy(currentWallet.address.value)">
                    <ion-icon name='ios-paper-outline' item-start></ion-icon>
                    Address:
                    <p text-justify  *ngIf="currentWallet">{{ currentWallet?.address.value }} </p>
                </ion-item>
              </ion-list>
              <button gradient-button quarter-width color-5 medium (click)="moreDetails()">
                More Details
              </button>
        </ion-card-content>
       

      </ion-card>

      
  </section>



</ion-header>

<ion-content background>

  


  <!-- Skeleton loader -->
  <ion-list transparent-items *ngIf="isLoading">
    <h2 padding *ngIf="!showEmptyMessage">Transactions</h2>

    <ion-card fake-card *ngFor="let fakeCard of fakeList">
      <ion-card-header>
        <p float-left> &nbsp; </p>

        <p float-right> &nbsp; </p>
      </ion-card-header>
      <ion-card-header no-padding>
        <ion-item>
          <section image item-left></section>
          <h2> &nbsp; </h2>
          <p>
            <small> &nbsp; </small>
          </p>

          <section item-right>
            <h2> &nbsp; </h2>
            <p>
              <small> &nbsp; </small>
            </p>
          </section>
        </ion-item>
      </ion-card-header>
      <ion-card-content line no-padding>
        <ion-item>
          <h2> &nbsp; </h2>
          <p>
            <small> &nbsp; </small>
          </p>

          <section text-right item-right>
            <p>
              <small> &nbsp; </small>
            </p>

            <p>
              <small> &nbsp; </small>
            </p>
          </section>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card no-border>
      <ion-item text-center>
        <ion-spinner name="dots"></ion-spinner>
      </ion-item>
    </ion-card>
  </ion-list>
  <!-- ./Skeleton loader -->

  <!-- Transactions -->
  <ion-list transparent-items *ngIf="!isLoading">
    <h2 padding *ngIf="!showEmptyMessage">Transactions</h2>

    <ion-card *ngFor="let transaction of unconfirmedTransactions; trackBy: trackByHash;"
      (click)="gotoTransactionDetail(transaction)">
      <!-- if importance transfer -->
      <importance-transfer-transaction *ngIf="transaction.type == TransactionTypes.IMPORTANCE_TRANSFER"
        [tx]="transaction"></importance-transfer-transaction>

      <!-- if mosaic definition -->
      <mosaic-definition-transaction *ngIf="transaction.type == TransactionTypes.MOSAIC_DEFINITION_CREATION"
        [tx]="transaction"></mosaic-definition-transaction>

      <!-- if mosaic supply change -->
      <mosaic-supply-change-transaction *ngIf="transaction.type == TransactionTypes.MOSAIC_SUPPLY_CHANGE"
        [tx]="transaction"></mosaic-supply-change-transaction>

      <!-- if multisig transaction  -->
      <multisig-transaction *ngIf="transaction.type == TransactionTypes.MULTISIG" [tx]="transaction">
      </multisig-transaction>

      <!-- if multisig aggregate modification  -->
      <multisig-aggregate-modification-transaction
        *ngIf="transaction.type == TransactionTypes.MULTISIG_AGGREGATE_MODIFICATION" [tx]="transaction">
      </multisig-aggregate-modification-transaction>

      <!-- if provision namespace  -->
      <provision-namespace-transaction *ngIf="transaction.type == TransactionTypes.PROVISION_NAMESPACE"
        [tx]="transaction"></provision-namespace-transaction>

      <!-- if transfer  -->
      <transfer-transaction *ngIf="transaction.type == TransactionTypes.TRANSFER" [tx]="transaction">
      </transfer-transaction>
    </ion-card>

    <ion-card *ngFor="let transaction of confirmedTransactions; trackBy: trackByHash"
      (click)="gotoTransactionDetail(transaction)">
      <!-- if importance transfer -->
      <importance-transfer-transaction *ngIf="transaction.type == TransactionTypes.IMPORTANCE_TRANSFER"
        [tx]="transaction"></importance-transfer-transaction>

      <!-- if mosaic definition -->
      <mosaic-definition-transaction *ngIf="transaction.type == TransactionTypes.MOSAIC_DEFINITION_CREATION"
        [tx]="transaction"></mosaic-definition-transaction>

      <!-- if mosaic supply change -->
      <mosaic-supply-change-transaction *ngIf="transaction.type == TransactionTypes.MOSAIC_SUPPLY_CHANGE"
        [tx]="transaction"></mosaic-supply-change-transaction>

      <!-- if multisig transaction  -->
      <multisig-transaction *ngIf="transaction.type == TransactionTypes.MULTISIG" [tx]="transaction">
      </multisig-transaction>

      <!-- if multisig aggregate modification  -->
      <multisig-aggregate-modification-transaction
        *ngIf="transaction.type == TransactionTypes.MULTISIG_AGGREGATE_MODIFICATION" [tx]="transaction">
      </multisig-aggregate-modification-transaction>

      <!-- if provision namespace  -->
      <provision-namespace-transaction *ngIf="transaction.type == TransactionTypes.PROVISION_NAMESPACE"
        [tx]="transaction"></provision-namespace-transaction>

      <!-- if transfer  -->
      <transfer-transaction *ngIf="transaction.type == TransactionTypes.TRANSFER" [tx]="transaction">
      </transfer-transaction>
    </ion-card>

  </ion-list>
  <!-- ./Transactions -->

  <!-- Infinite scroll -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more transactions...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- ./Infinite scroll -->

  <ion-grid empty *ngIf="showEmptyMessage">
    <ion-row>
      <ion-col>
        <img quarter-width [src]="App.STICKERS.SORRY">
        <!-- 
            <h4 ion-text color="blackgreen" text-wrap>
              No transactions yet
            </h4> -->

        <h6 ion-text color="grey" text-wrap>
          <strong>Your transactions will appear here, none at the moment</strong>
        </h6>

        <!-- <p text-wrap>
              Start by sending mosaics to your new wallet
            </p> -->

        <!-- 
            <h6 ion-text color="blackgreen" text-wrap>
              Start by sending mosaics to your new wallet
            </h6> -->
        <!--     
            <button gradient-button color-5 color="black" (click)="showReceiveModal()">
              Topup now
            </button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid normal>
      <ion-row>
        <ion-col>
          <button (click)="showReceiveModal()" gradient-button full color-6 ion-button icon-start no-margin>
            <ion-icon name="arrow-round-down"></ion-icon>
            Receive
          </button>
        </ion-col>
        <ion-col>
          <button (click)="showSendModal()" gradient-button full color-5 ion-button icon-end no-margin>
            Send
            <ion-icon name="arrow-round-up"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<ng-template #loading>
  <ion-spinner name="dots"></ion-spinner>
</ng-template>