.ios,
.md {
  page-home {
    ion-content { margin-top: -32px; }

    [padding] {
      h3 {
        margin-top: 0;
        font-size: x-small;
      }

      h3 + p {
        color: darken(color($colors, light), 15%);
      }
    }

    [symbol] {
      font-size: 50%;
      vertical-align: super;
    }

    ion-card {
      background: transparentize(color($colors, light), 0.9);
      border-radius: 0.5rem;
      padding: 8px;

      ion-item {
        background-color: transparent;
      }
    }

    [logo] {
      width: 10%;
    }

    [line] {
      border-top: 0.1px solid transparentize(color($colors, light), 0.7);
    }
  }
}
