<!-- <ion-header no-border>
  <ion-navbar transparent padding-top>
    <ion-title>
      <span ion-text color="black">Home</span>
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content background no-margin>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-round-up" refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list title>
      <ion-item>
          <h2 padding-left title color="dark">
              <strong>
                Wallets
              </strong>
            </h2>
         <button ion-button icon-only item-end clear (click)="showAddWalletPrompt()">
            <ion-icon color="dark" name="add-circle"></ion-icon>
          </button>
      </ion-item>
    </ion-list>


  <section wallets>
    <!-- <h2 padding-left ion-text color="dark">
      <strong>
        Wallets
      </strong>
    </h2> -->
    
    <ion-slides slidesPerView="1.5" spaceBetween="10">
      <ion-slide *ngFor="let wallet of wallets; trackBy: trackByName"
        [attr.selected]="selectedWallet?.name === wallet?.name ? true : null" (click)="onWalletSelect(wallet)"
        (press)="onWalletPress(wallet)">
        <ion-card wallet [attr.selected]="selectedWallet?.name === wallet?.name ? true : null">
          <ion-card-header text-left>
            <span title>{{ wallet.name }}</span>
          </ion-card-header>
          <ion-card-content text-left>
            <p>
              <span symbol>$</span>
              <span amount>{{ (wallet.total>0?wallet.total:0) | number : '1.2-6'}}</span>
            </p>

            <p text-wrap>
              <strong>{{ wallet.address.plain() | ngXtruncate: 20 : '...' }}</strong>
              </p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card add-wallet (click)="showAddWalletPrompt()">
          <ion-card-header text-left>
            <span title></span>
          </ion-card-header>
          <ion-card-content text-left>
            <p>
              <span symbol><br></span>
              <span amount>Create a wallet</span>
            </p>

            <p>
              It's free and you can can create as many as you like
            </p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </section>



  <ion-grid normal>
      <ion-segment [(ngModel)]="menu" color="dark">
          <ion-segment-button value="mosaics" checked>
            Mosaics
          </ion-segment-button>
          <ion-segment-button value="transactions" >
            Transactions
          </ion-segment-button>
        </ion-segment>
  </ion-grid>


  <ion-list transparent-items *ngIf="menu=='mosaics'">
    <ion-card *ngFor="let mosaic of mosaics" (click)="gotoCoinPrice(mosaic.mosaicId.name)">
      <ion-card-header no-padding>
        <ion-item>
          <img logo-small item-left [src]="utils.getLogo(mosaic)">
          <h2 text-uppercase ion-text color="black"><strong>{{ mosaic.mosaicId.name }}</strong></h2>
          <p text-uppercase ion-text color="black">{{ mosaic.mosaicId.namespaceId }}</p>

          <section text-right item-right>
            <h2 ion-text color="black">{{ mosaic.amount | number:'1.2' }}</h2>
            <p text-right ion-text color="black"
              *ngIf="(mosaic.mosaicId.name | getMarketPrice | async) as marketPrice; else loading">
              <small>
                {{ amount * marketPrice | currency : 'USD' : 'symbol' : '1.2-6' }}
              </small>
              {{ marketPrice | currency: 'USD' : 'symbol' : '1.6-6' }}
            </p>
          </section>
        </ion-item>
      </ion-card-header>
    </ion-card>

    <section [hidden]="mosaics">
      <ion-card fake-card *ngFor="let fakeCard of fakeList">
        <ion-card-header no-padding>
          <ion-item>
            <section image item-left></section>
            <h2> &nbsp; </h2>
            <p> &nbsp; </p>

            <section item-right>
              <h2> &nbsp; </h2>
              <p>
                <small> &nbsp; </small>
              </p>
            </section>
          </ion-item>
        </ion-card-header>
        <ion-card-content line no-padding>
          <!-- <ion-item>
            <h2> &nbsp; </h2>
            <p>
              <small> &nbsp; </small>
            </p>
          </ion-item> -->
        </ion-card-content>
      </ion-card>
      <ion-card no-border>
        <ion-item text-center>
          <ion-spinner name="dots"></ion-spinner>
        </ion-item>
      </ion-card>
    </section>
  </ion-list>

  <div *ngIf="menu=='transactions'">
        <!-- Skeleton loader -->
    <ion-list transparent-items *ngIf="isLoading">
        <ion-card fake-card *ngFor="let fakeCard of fakeList">
          <ion-card-header>
            <p float-left> &nbsp; </p>
    
            <p float-right> &nbsp; </p>
          </ion-card-header>
          <ion-card-header no-padding>
            <ion-item>
              <section image item-left></section>
              <h2> &nbsp; </h2>
              <p>
                <small> &nbsp; </small>
              </p>
    
              <section item-right>
                <h2> &nbsp; </h2>
                <p>
                  <small> &nbsp; </small>
                </p>
              </section>
            </ion-item>
          </ion-card-header>
          <ion-card-content line no-padding>
            <ion-item>
              <h2> &nbsp; </h2>
              <p>
                <small> &nbsp; </small>
              </p>
    
              <section text-right item-right>
                <p>
                  <small> &nbsp; </small>
                </p>
    
                <p>
                  <small> &nbsp; </small>
                </p>
              </section>
            </ion-item>
          </ion-card-content>
        </ion-card>
    
        <ion-card no-border>
          <ion-item text-center>
            <ion-spinner name="dots"></ion-spinner>
          </ion-item>
        </ion-card>
      </ion-list>
      <!-- ./Skeleton loader -->
    
      <!-- Transactions -->
      <ion-list transparent-items *ngIf="!isLoading">
    
        <ion-card *ngFor="let transaction of unconfirmedTransactions; trackBy: trackByHash;" (click)="gotoTransactionDetail(transaction)">
          <!-- if importance transfer -->
          <importance-transfer-transaction *ngIf="transaction.type == TransactionTypes.IMPORTANCE_TRANSFER" [tx]="transaction"></importance-transfer-transaction>
    
          <!-- if mosaic definition -->
          <mosaic-definition-transaction *ngIf="transaction.type == TransactionTypes.MOSAIC_DEFINITION_CREATION" [tx]="transaction"></mosaic-definition-transaction>
    
          <!-- if mosaic supply change -->
          <mosaic-supply-change-transaction *ngIf="transaction.type == TransactionTypes.MOSAIC_SUPPLY_CHANGE" [tx]="transaction"></mosaic-supply-change-transaction>
    
          <!-- if multisig transaction  -->
          <multisig-transaction *ngIf="transaction.type == TransactionTypes.MULTISIG" [tx]="transaction"></multisig-transaction>
    
          <!-- if multisig aggregate modification  -->
          <multisig-aggregate-modification-transaction *ngIf="transaction.type == TransactionTypes.MULTISIG_AGGREGATE_MODIFICATION"
            [tx]="transaction"></multisig-aggregate-modification-transaction>
    
          <!-- if provision namespace  -->
          <provision-namespace-transaction *ngIf="transaction.type == TransactionTypes.PROVISION_NAMESPACE" [tx]="transaction"></provision-namespace-transaction>
    
          <!-- if transfer  -->
          <transfer-transaction *ngIf="transaction.type == TransactionTypes.TRANSFER" [tx]="transaction"></transfer-transaction>
        </ion-card>
    
        <ion-card *ngFor="let transaction of confirmedTransactions; trackBy: trackByHash" (click)="gotoTransactionDetail(transaction)">
          <!-- if importance transfer -->
          <importance-transfer-transaction *ngIf="transaction.type == TransactionTypes.IMPORTANCE_TRANSFER" [tx]="transaction"></importance-transfer-transaction>
    
          <!-- if mosaic definition -->
          <mosaic-definition-transaction *ngIf="transaction.type == TransactionTypes.MOSAIC_DEFINITION_CREATION" [tx]="transaction"></mosaic-definition-transaction>
    
          <!-- if mosaic supply change -->
          <mosaic-supply-change-transaction *ngIf="transaction.type == TransactionTypes.MOSAIC_SUPPLY_CHANGE" [tx]="transaction"></mosaic-supply-change-transaction>
    
          <!-- if multisig transaction  -->
          <multisig-transaction *ngIf="transaction.type == TransactionTypes.MULTISIG" [tx]="transaction"></multisig-transaction>
    
          <!-- if multisig aggregate modification  -->
          <multisig-aggregate-modification-transaction *ngIf="transaction.type == TransactionTypes.MULTISIG_AGGREGATE_MODIFICATION"
            [tx]="transaction"></multisig-aggregate-modification-transaction>
    
          <!-- if provision namespace  -->
          <provision-namespace-transaction *ngIf="transaction.type == TransactionTypes.PROVISION_NAMESPACE" [tx]="transaction"></provision-namespace-transaction>
    
          <!-- if transfer  -->
          <transfer-transaction *ngIf="transaction.type == TransactionTypes.TRANSFER" [tx]="transaction"></transfer-transaction>
        </ion-card>
    
      </ion-list>
      <!-- ./Transactions -->
    
      <!-- Infinite scroll -->
      <div *ngIf="!showEmptyMessage">
        <ion-infinite-scroll (ionInfinite)="doInfinite()">
          <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Loading more transactions"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>

      <!-- ./Infinite scroll -->
    
      <ion-grid empty *ngIf="showEmptyMessage">
        <ion-row>
          <ion-col>
            <img quarter-width [src]="AppConfig.STICKERS.SORRY">
            <h6 ion-text color="blackgreen" text-wrap>
              You don't have any transactions yet.
            </h6>
          </ion-col>
        </ion-row>
      </ion-grid>


   
      </div>

  


</ion-content>

<ng-template #loading>
  <!-- <ion-spinner name="dots"></ion-spinner> -->
  <small ion-text color="black">N/A</small>
</ng-template>
