$primary: #435dac;
$secondary: #869cd7;
$trinary: #dee3f1;
$quarternary: #d6bea8;
$light: #dee3f1;
$dark: #ab9188;

.ios,
.md {
  page-home {
    ion-content {
      margin-top: none;
      ion-refresher {
        margin-top: 3em;
      }
    }
    
    ion-content.has-refresher > .scroll-content {
      border-top: none !important;
    }
   
  }
}