.ios,
.md {
  ngx-pin {
    ion-grid,
    ion-row {
      height: 100%;
    }

    [upper] {
      background: linear-gradient(
        to left top,
        transparentize(lighten(color($colors, dark), 20%), 0.7),
        transparentize(lighten(color($colors, dark), 30%), 0.7)
      );

      ion-col {
        color: lighten(color($colors, dark), 70%);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      [ion-button] {
        height: 5rem;
        width: 4rem;
        box-shadow: 0 0.5px 4px 0 color($colors, dark);
        border: 0;
        border-radius: 0.5rem;
      }

      [pin] {
        font-size: 4rem;
        letter-spacing: 16px;

        span {
          -webkit-text-security: disc;
          vertical-align: middle;
        }
      }
    }

    [lower] {
      background: linear-gradient(
        transparentize(lighten(color($colors, dark), 10%), 0.7),
        transparentize(color($colors, dark), 0.7)
      );
      padding-top: 1rem;

      [ion-button] {
        font-size: 150%;
      }
    }
  }
}

.md {
  ngx-pin [upper] [pin] span {
    font-size: 2rem;
  }
}

.md {
  ngx-pin [upper] [pin] span {
    font-size: 6rem;
  }
}
