page-coin-price-chart {
  #container {
    display: block;
    width: 100%;
    height: 300px;
  }
  [price] {
    font-size: 4rem;
  }

  .toolbar-title-ios {
    margin-top: 1em;
    font-size: 2rem;
  }

  .bar-button {
    font-size: 1.8rem;
  }

  .item p{
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: color($colors, dark);
  }
}

tooltip-box {
  background: linear-gradient(45deg, darken(color($colors, secondary), 0.3), color($colors, primary));
  box-shadow: 0 8px 8px 1px transparentize(color($colors, black), 0.9);
  border-radius: 4rem;
}

.has-arrow.arrow-bottom:before {
  border-top: 5px solid color($colors, secondary) !important;
}
