<!--
  Generated template for the CoinPriceChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title *ngIf="selectedCoin">
      <span text-uppercase ion-text color="light">
        {{ selectedCoin.name }} ({{ selectedCoin.symbol }})
      </span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content background>
  <section text-center>
    <h1 price ion-text color="light" *ngIf="selectedCoin">{{ selectedCoin.market_data.current_price.usd | currency: 'USD': 'symbol': '1.2-6' }}</h1>
    <button gradient-button tiny width-auto no-margin [attr.color-5]="selectedCoin.market_data.market_cap_change_percentage_24h > 0 ? true : null"
      [attr.color-5]="selectedCoin.market_data.market_cap_change_percentage_24h < 0 ? true : null" *ngIf="selectedCoin">
      {{ selectedCoin.market_data.market_cap_change_percentage_24h | number: '1.1-1' }}%
    </button>
  </section>

  <section id="container"></section>

  <ion-grid normal>
    <ion-row justify-content-center>
      <ion-col text-center *ngFor="let duration of durations" (click)="select(duration)">
<button gradient-button no-margin width-auto tiny (click)="select(duration)" [attr.color-1]="selectedDuration.value === duration.value ? true : null"
          [attr.color-5]="selectedDuration.value !== duration.value ? true : null">
          {{ duration.label }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list transparent-items>
    <h2 margin-left ion-text color="light">About</h2>
    <ion-card (click)="readMore(selectedCoin.description['en'].length)">
      <ion-item>
        <h2 text-wrap text-justify *ngIf="selectedCoin; else loading">{{ selectedCoin.description['en'] | ngXtruncate: descriptionLength : '...' }}</h2>
      </ion-item>
    </ion-card>

    <h2 margin-left ion-text color="light">Stats</h2>

    <ion-card>
      <ion-item>
        <p item-left ion-text color="grey">Current Price</p>
        <button item-right gradient-button color-5 no-margin tiny width-auto *ngIf="selectedCoin; else loading">
          {{ selectedCoin.market_data.current_price.usd | currency: 'USD': 'symbol': '1.2-6' }}
        </button>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <p item-left ion-text color="grey">Market rank</p>
        <button item-right gradient-button color-5 no-margin width-auto  tiny *ngIf="selectedCoin; else loading">
          #{{ selectedCoin.market_cap_rank }}
        </button>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <p item-left ion-text color="grey">Highest price in 24 hours</p>
        <button item-right gradient-button color-5 no-margin tiny width-auto *ngIf="selectedCoin; else loading">
          {{ selectedCoin.market_data.high_24h.usd | currency: 'USD': 'symbol': '1.2-6' }}
        </button>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <p item-left ion-text color="grey">Lowest price in 24 hours</p>
        <button item-right gradient-button color-5 no-margin tiny width-auto *ngIf="selectedCoin; else loading">
          {{ selectedCoin.market_data.low_24h.usd | currency: 'USD': 'symbol': '1.2-6' }}
        </button>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <p item-left ion-text color="grey">Market Cap</p>
        <h2 item-right *ngIf="selectedCoin; else loading">
          ${{ selectedCoin.market_data.market_cap.usd | shortNum }}
        </h2>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item tooltip="Total supply is the number of coins in existence." positionV="top" arrow>
        <p ion-text color="grey">Circulating supply</p>
        <h2 item-right *ngIf="selectedCoin; else loading">
          {{ selectedCoin.market_data.circulating_supply | shortNum }}
          <span text-uppercase>
            {{ selectedCoin.symbol }}
          </span>
        </h2>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ng-template #loading>
  <ion-spinner name="dots"></ion-spinner>
</ng-template>
