page-coin-price-chart {
  #container {
    display: block;
    width: 100%;
    height: 300px;
  }
  [price] {
    font-size: 4rem;
  }
}

tooltip-box {
  background: linear-gradient(45deg, darken(color($colors, secondary), 0.3), color($colors, primary));
  box-shadow: 0 8px 8px 1px transparentize(color($colors, black), 0.9);
  border-radius: 4rem;
}

.has-arrow.arrow-bottom:before {
  border-top: 5px solid color($colors, secondary) !important;
}
