<!--
  Generated template for the WalletBackupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>
      <span text-uppercase ion-text color="black">Backup wallet</span>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content fullscreen background>

    

  <ion-list transparent-items radio-group [(ngModel)]="selectedOption">

    <ion-card margin-bottom>
      <ion-card-header text-center>
        <img quarter-width [src]="App.STICKERS.HINT">
      </ion-card-header>
      <ion-card-content>
        <h4 text-wrap text-justify ion-text color="black">
        You are strongly recommended to back up your wallet. If this app is deleted, your wallet cannot be recovered without it. Make sure you store it in a safe place as this backup can protect you against system failures and human error. It also allows you to recover your wallet if your mobile phone is stolen.
        </h4>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col col-12 text-center>
          <!-- <ngx-kjua 
            text-center 
            *ngIf="currentWallet" 
            fill="#000" 
            [ecLevel] = "'H'"
            [crisp] = "true"
            [size]="200"
            [mPosX]="50"
            [mPosY]="50"
            [mSize]="15" 
            [fontcolor]="'#1f6b86'"
            [mode]="'label'" 
            [render] = "'label'"
            [label]="'ProximaX'" 
            [back]="'#fff'" 
            [text]="QRData">
              </ngx-kjua>
  
          <section text-center *ngIf="!currentWallet">
            <ion-spinner name="dots"></ion-spinner>
          </section>
          <ion-card >
              <ion-item>
                <ion-icon item-left name="ios-key-outline"></ion-icon>
                <p text-wrap *ngIf="privateKey">{{ privateKey }}</p>
  
                <section text-center>
                  <ion-spinner *ngIf="!privateKey"></ion-spinner>
                </section>
              </ion-item>
            </ion-card> -->

          
  
          <ion-list transparent-items no-margin-bottom>

              

            <ion-card  *ngFor="let option of options" [attr.selected]="selectedOption === option.value ? true : null"
            (click)="onSelect(option)">
            <ion-item>
              <ion-icon item-left ion-text color="black" [name]="option.icon"></ion-icon>
              <h2 ion-text color="black">{{ option.name }}</h2>
              <ion-icon item-right ion-text color="black" name="ios-arrow-forward"></ion-icon>
            </ion-item>
      
          </ion-card>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  col-12 text-center>
            <button medium gradient-button color-5 ion-button icon-end no-margin color="black" (click)="goHome()">
                Done
              </button>
        </ion-col>
     </ion-row>
    </ion-grid>

   
    <br>
    <br>

    


  </ion-list>
</ion-content>

