ion-modal.inset-modal,
.inset-modal .show-page {
  // transparent black background overlay
  background: color($colors, white);
  
  transition: opacity .25s ease-in-out;
  padding: 10vh 5vw;

  &.small {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

  ion-backdrop {
    // ====================================
    // Uncomment to enable backdrop dismiss
    // ====================================
    visibility: visible;

    opacity: 0.5;
    z-index: 0;
  }

  ion-page.modal {
    padding: 30px;
    // background: transparentize(color($colors, primary), 0.5);
    background: color($colors, white);
  }
  .modal-wrapper {
    border-radius: 0.5rem !important;
  }
  .modal-backdrop-bg {
    background-color: color($colors, primary);
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }

  .ios .toolbar-ios, .md .toolbar-ios {
    min-height: 1.5em;
    font-size: 1.8rem;
}
}
