ion-list[transparent-items] {
  ion-card {
    border-radius: 0.5rem;
    background: transparentize(color($colors, light), 0.9);
    color: color($colors, light);
  }
  ion-item {
    background: transparent;

    &[no-border] {
      border: 0 !important;
    }

    ion-avatar img {
      border-radius: 0;
    }

    h2:not([ion-text]), ion-icon {
      color: color($colors, light);
    }

    p {
      color: darken(color($colors, light), 10%);
    }
  }
  ion-card-header {
    padding-bottom: 0;
  }
  ion-card-content {
    border-top: 0.1px solid transparentize(color($colors, light), 0.85);
  }

  ion-item-sliding {
    background: transparentize(color($colors, light), 0.95);
  }

  p {
    font-size: 1.2rem;
  }

  [selected] {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }
  [selected]:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }
}
