ion-tabs {
  &,
  .tabbar {
    background: color($colors, dark);
    border-top: 0;
    bottom: -7px !important;
  }

  .tabbar {
    .tab-button[aria-selected='true'] {
      &,
      .tab-button-icon {
        color: lighten(color($colors, trinary),80%);
        font-style: bold;
        font-weight: 600;
      }
    }

    .tab-button {
      min-height: 6.6rem;
      &,
      .tab-button-icon {
        color: lighten(color($colors, trinary), 20%);
      }
    }
  }
}

ion-fab[fab-button-center] {
  button[gradient-button] {
    height: 64px;
    width: 64px;
    margin: 0;
  }
  z-index: 999 !important;
}
.ion-page { z-index: 1000 !important; }
