ion-list[transparent-items] {
  ion-card {
    border-radius: 0.5rem;
    background: transparentize(color($colors, light), 0.9);
    color: color($colors, light);
  }
  ion-item {
    background: transparent;

    &[no-border] {
      border: 0 !important;
    }

    ion-avatar img {
      border-radius: 0;
    }

    h2:not([ion-text]),
    ion-icon {
      color: color($colors, light);
    }

    p:not([ion-text]) {
      color: darken(color($colors, light), 10%);
    }

    p[small] {
      font-size: 0.7rem;
    }
  }
  ion-card-header {
    padding-bottom: 0;
  }
  ion-card-header:nth-child(n+2) {
    padding: 0;
  }
  ion-card-content {
    border-top: 0.1px solid transparentize(color($colors, light), 0.85);
  }

  ion-item-sliding {
    background: transparentize(color($colors, light), 0.95);
  }

  p {
    font-size: 1.2rem;
  }

  [selected] {
    background-image: linear-gradient(45deg, #3cba92, transparentize(color($colors, dark), 0.9));
    transition: all 0.4s ease-in-out;
  }
  [selected]:hover {
    background-position: 100% 0;
  }
}
