ion-tabs .tabbar {
  background: transparentize(color($colors, primary), 0.03);

  .tab-button[aria-selected='true'] {
    &,
    .tab-button-icon {
      color: color($colors, light);
    }
  }

  .tab-button {
    &,
    .tab-button-icon {
      color: lighten(color($colors, primary), 15%);
    }
  }
}

ion-fab[fab-button-center] {
  bottom: 2rem;
  button[gradient-button] {
    height: 6rem;
    width: 6rem;
    margin: 0;
  }
  z-index: 999 !important;
}
.ion-page { z-index: 1000 !important; }
