ion-tabs {
  &,
  .tabbar {
    background: transparentize(color($colors, primary), 0.03);
  }

  .tabbar {
    .tab-button[aria-selected='true'] {
      &,
      .tab-button-icon {
        color: color($colors, light);
      }
    }

    .tab-button {
      &,
      .tab-button-icon {
        color: lighten(color($colors, primary), 15%);
      }
    }
  }
}

ion-fab[fab-button-center] {
  button[gradient-button] {
    height: 64px;
    width: 64px;
    margin: 0;
    bottom: 5rem;
  }
  z-index: 999 !important;
}
.ion-page { z-index: 1000 !important; }
