ion-list[transparent-items] {
  ion-card,
  ion-item {
    background: transparentize(color($colors, light), 0.95);
    border-radius: 0.5rem;
    color: color($colors, light);
  }

  ion-item-sliding {
    background: transparentize(color($colors, light), 0.95);
  }

  [selected] {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }
  [selected]:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }
}
